################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfcoreOperation/.vs/EfcoreOperation/FileContentIndex/8dfa166e-7587-42ca-a530-c446c1bf014b.vsidx
*.vsidx
